.logo-container {
    display: flex;
    flex-direction: column; /* переносим в колонку */
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    text-align: center; /* чтобы текст центрировался */
}

.logo {
    max-width: 160px;
    height: auto;
    margin-bottom: 8px; /* отступ между логотипом и заголовком */
}


h1 {
  font-size: 20px;
  margin: 5px 0;
  text-align: center;
}

/* Таблица */
.table-container {
  overflow-x: auto;
  margin: 10px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 900px;
}

td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 3px 4px;
  font-size: 10px;
  min-width: 19px;
}

/* Фиксируем весь первый столбец */
table td:first-child {
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 5;
  font-weight: bold;
  min-width: 60px;
}

/* Стили разделов */
.section-row td {
  background: #ddd;
  font-weight: bold;
  text-align: left;
}

/* Стили смен */
.shift-1 { background: #a6e6a6; }
.shift-0 { background: #fff7a6; }
.shift-VR { background: #00ffff; }
.shift-3 { background: #cce0ff; }

/* Подсветка сегодняшнего дня */
td.today {
  background-color: #00ff9d !important; /* подсветка */
  font-weight: bold;
  color: #000 !important;
}
